#markets
{
    margin-top: 150px;
}

/*Tabelle*/
table
{
    color: #636363;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
}

/*Zelle*/
td
{
    padding: 20px;
    border: 1.5px solid #a3a3a3;
}

td small
{
    display: block;
}

/*Liste Sortiment*/
td ul
{
    display: none;
    position: absolute;
}

td:hover ul
{
    display: block;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    width: 100px;
    margin-left: 0px;
    padding-left: 0px;
}

ul li
{
    display: block;
}

/*Färbung*/
.red
{
  color: #b81004;  
}

.yellow
{
    color: #ffcb2e;
}

.green
{
    color: green;
}